{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оплата
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оплата</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <form class="form Payment" action="#" method="post" @submit.prevent="submitPaymentSomeone">
          {% csrf_token %}
          <div class="Payment-card">
            <div class="form-group">
              <label class="form-label">Номер счета
              </label>
              <input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999" data-mask="9999 9999">
            </div>
            <div class="form-group"><a class="btn btn_success Payment-generate" href="#">Сгенирировать случайный счет</a>
            </div>
          </div>
          <button type="submit" class="btn btn_primary">Оплатить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block mixins %}
<script src="{% static 'frontend/assets/js/payment-someone.js' %}"></script>
{% endblock %}